{% extends 'base.html' %}

{% block body %}

<h1>User Profile</h1>

<p>{{ customer.first_name }} {{ customer.last_name }}</p>
<p>{{ customer.email }}</p>

<p>{{ customer.street_address }}<br>
    {{ customer.zipcode }} {{ customer.state }}</p>

<h2>Orders</h2>

<table class="table table-hover">
    <tr>
        <th>Date</th>
        <th>Total</th>
    </tr>

{% for order in customer.orders %}

    <tr>
        <td>{{ order.placed_at.strftime('%Y-%m-%d') }}</td>
        <td>{{ "$%.2f"|format(order.total) }}</td>
    </tr>

{% endfor %}

</table>

{% if customer.recipes %}

<h2>Saved Recipes</h2>

<div class="row">

{% for recipe in customer.recipes %}

<div class="col-sm-6 col-md-3">

    <div>
        <img src="{{ recipe.img }}"><br>
        <a href="{{ recipe.url }}">{{ recipe.name }}</a>
    </div>

</div>

{% endfor %}

</div>

{% endif %}

<p>Questions? Contact customer service at 867-5309.</p>

{% endblock %}