<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Farm to Front Door</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato|Droid+Serif" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    {% block head %}{% endblock %}
</head>
<body>

    <!--Navigation code adapted from Bootstrap example-->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/products"><div><img src="/static/img/noun_741.svg" class="farmlogo" width="31px"></div></a>
          <a class="navbar-brand logotext" href="/products">Farm to Front Door</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
          </ul>
          
          <ul class="nav navbar-nav navbar-right">
            <form class="navbar-form navbar-left" action="/search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search Products" name="terms">
              </div>
              <button type="submit" class="btn btn-default" id="searchbutton" aria-label="Click to search"><span id="prod-search" class='glyphicon glyphicon-search' aria-hidden='true'></span></button>
            </form>
            <li><a href="/locations">Locations</a></li>
            {% if 'email' in session %}
            <li><a href="/account">Account</a></li>
            <li><a href="/logout">Log Out</a></li>
            {% else %}
            <li><a href="" data-toggle="modal" data-target="#LoginModal" id="loginNav">Login</a></li>
            {% endif %}
            <li><a href="/cart"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"><span class="sr-only">Shopping Cart</span></span></a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <!--Login Modal -->
    <!--Modal code adapted from Bootstrap example-->
    <div class="modal fade" tabindex="-1" role="dialog" id="LoginModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Log In</h4>
          </div>
          <div class="modal-body">
            <form id="login" action="/login" method="POST">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required>
                <p id="login-fail"></p>
                <p>Not a member? <a href="/register">Register now!</a></p>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button submit" form="login" class="btn btn-primary">Enter</button>
            </form>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <div class="container-fluid">
    <!-- Flashed messages show up here -->
    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            <div class="alert alert-warning">{{ message }}</div>
        {% endfor %}
    {% endwith %}
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="http://0.0.0.0:5000/static/js/login.js"></script>

    {% block body %} 
        Body content goes here! 
    {% endblock %}

    </div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>