{% extends 'base.html' %}

{% block head %}<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>{% endblock %}

{% block body %}

<div ng-app="cart" ng-controller="CartController">

<div class="row">

<div class="col-md-7">

<h1 class="centerme">Shopping Cart</h1>

<table class="table table-hover"> <!-- id="cart-table" -->
    <thead>
        <tr>
            <th>Quantity</th>
            <th>Product</th>
            <th>Subtotal</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
{% raw %}
        <tr ng-repeat="product in cart">
            <td>
                <select ng-model="product.qty" ng-options="option for option in dropdownOptions" ng-change="updateCart(product)">
            </select>
            </td>

            <td> {{ product.name }} @ {{ product.price }} each </td>
            <td>{{ product.qty * product.price | currency }}</td>
            <td><a href="" ng-click="deleteProd(product)">Delete</a></td> <!-- ng-href="/delete?id={{ product.product_id }}" -->
        </tr>
{% endraw %}
    </tbody>

</table>

<script type="text/javascript" src="/static/js/cart.js"></script>
{% raw %}

<p>Weight: <span ng-if="cartWeight.fudged">Over </span>{{ cartWeight.weight.lb }} lb {{ cartWeight.weight.oz }} oz.</p>
{% endraw %}
</div>

<div class="col-md-5">

    <h2>Delivery Options</h2>
{% raw %}
    <form name="deliveryOptions" ng-controller="FormController as formCtrl" ng-submit="deliveryOptions.$valid && validateDelivery()" novalidate>
        <label>How would you like to receive your order?</label><br>

        <input ng-model="deliveryForm.delivery" type="radio" name="delivery" value="delivery" required>Please deliver my order.<br>
        <input ng-model="deliveryForm.delivery" type="radio" name="delivery" value="pickup" required>I will pick up my order.<br>

        <p>Delivery is a flat $5 fee</p>
        <div ng-switch="deliveryForm.delivery">
            <div ng-switch-when="pickup">
                <label for="pickup">Select your pickup location:</label><br> 

                    <select ng-model="deliveryForm.pickup" ng-options="place.name for place in pickups">  <!-- $parent.$parent. -->
                    </select>
            </div>
            <div ng-switch-when="delivery">
                <div ng-if="customer.street_address">
                    <input type="radio" name="which_address" value="my_address" ng-model="deliveryForm.which_address">Use the address I have on file:<br>
                    <p>{{ customer.street_address }}<br>
                    {{ customer.zipcode }} {{ customer.state }}</p>
                    <input type="radio" name="which_address" value="new_address" ng-model="deliveryForm.which_address">Enter new address<br>
                    <div ng-switch="deliveryForm.which_address">
                        <div ng-switch-when="new_address">
                            <input type="text" name="address" ng-model="deliveryForm.address" placeholder="80 Market St"><br>
                            <input type="text" name="zipcode" ng-model="deliveryForm.zipcode" placeholder="94105">
                            <input type="text" name="state" ng-model="deliveryForm.state" placeholder="CA" maxlength="2" size="2"><br>
                        </div>
                    </div>
                </div>
                <div ng-if="!customer.street_address">
                <label>Add Delivery Address</label><br>
                <input type="text" name="address" ng-model="deliveryForm.address" placeholder="80 Market St"><br>
                <input type="text" name="zipcode" ng-model="deliveryForm.zipcode" placeholder="94105">
                <input type="text" name="state" ng-model="deliveryForm.state" placeholder="CA" maxlength="2" size="2"><br>
                </div>
            </div>
        </div>
        <br><label>Order Total: {{ deliveryForm.delivery==="delivery" ? cartPrice + 5 : cartPrice | currency }}</label><br>
        <input type="submit" class="btn btn-default checkout" value="Check Out"><br><br>
        <small>Please log in before placing your order. Not a member? <a href="/register">Register now!</a></small> 
        </form>
{% endraw %}
</div>

</div>

<div class="spacer"></div>
<div class="spacer"></div>

<div class="row">

<!-- <h2>Recipe Suggestions</h2> -->

<!-- <p>Don't know what you're making for dinner tonight? We've got suggestions!</p> -->

</div>

<div class="row">

{% raw %}
<div ng-controller="RecipeController">
<div class="col-md-3" ng-repeat="recipe in recipes">  <!-- recipe in recipeCtrl.recipes track by $index -->
    <a ng-href="{{ recipe.url }}"><img ng-src="{{ recipe.image }}"></a>
    <a ng-href="{{ recipe.url }}" class="recipetitle"><h4>{{ recipe.name }}</h4></a>
    <p><a href ng-click="saveRecipe(recipe)" aria-label="Like this recipe" class="recipea"><span class="glyphicon glyphicon-heart likerecipe" aria-hidden="true"></span></a></p>
</div>
</div>
{% endraw %}

</div>

<!-- <p>Please log in before placing your order. Not a member? <a href="/register">Register now!</a></p> -->

<script type="text/javascript" src="static/js/angularcart.js"></script>

</div>

{% endblock %}