{% extends 'base.html' %}

{% block body %}

<h1>Shopping Cart</h1>

{% if 'cart' in session %}

<table class="table table-hover" id="cart-table">
    <thead>
        <tr>
            <th>Quantity</th>
            <th>Product</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

{% for item in cart %}

        <tr>
            <td>
                <select name="qty" id="{{ item.product_id }}" data-qty="{{ session['cart'][item.product_id] }}">
                </select>
            </td>
            <td>{{ item.name }} @ {{ item.price }} each</td>
            <td><a href="/delete?id={{ item.product_id }}">Delete</a></td>
        </tr>

{% endfor %}
    </tbody>

</table>

<script type="text/javascript" src="/static/js/cart.js"></script>

<p><strong>Total: {{ session['cart_total'] }}</strong></p>

<p>Your cart is {% if 'fudged' in cart_weight %}over {% endif %}{{ cart_weight['lb'] }} lb {{ cart_weight['oz'] }} oz.</p>

{% if recipes %}

<h2>Recipe Suggestions</h2>

<ul>

{% for recipe in recipes %}

<li><a href="{{ recipe[1] }}">{{ recipe[0] }}</a></li>

{% endfor %}

</ul>

{% endif %}

{% endif %}

{% if 'email' not in session %}
<p>Please log in before placing your order. Not a member? <a href="/register">Register now!</a></p>

<a>Checkout</a>

{% else %}
<a href="/checkout">Checkout</a>

{% endif %}

{% endblock %}