{% extends 'base.html' %}

{% block body %}

<h1>List of All products!</h1>

<div class="row">

{% for product in products %}

{# {% if loop.first or loop.index0 is divisibleby(3) %} #}

<!-- <div class="row"> -->

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <a href="/products/{{product.product_id}}"><img src="{{product.img}}"></a>
        <div>
        <p>{{product.name}}</p>
        <p>Price: {{product.price}}</p>
        </div>
        <button class="add_to_cart">Add to Cart</button>
    </div>

{# {% elif loop.index0 % 3 == 1 %} #}

<!--     <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <img src="{{product.img}}">
        <p>{{product.name}}</p>
        <p>Price: {{product.price}}</p>
    </div> -->

{# {% else %} #}

<!--     <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <img src="{{product.img}}">
        <p>{{product.name}}</p>
        <p>Price: {{product.price}}</p>
    </div> -->

<!-- </div> -->

{# {% endif %} #}

{% endfor %}

</div>

{% endblock %}