{% extends 'base.html' %}

{% block body %}

<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1">
        <img src="{{product.img}}">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-5">
        <h1>{{ product.name }}</h1>
        <p>Price: {{ product.price }}</p>
        <p>{{ product.weight }} {{ product.unit }}</p>
        
        {% if product.tags %}
            <ul class="product_tags">
                {% for tag in product.tags %}

                <li>{{ tag.name }}</li>

                {% endfor %}
            </ul>
        {% endif %}
        <button type="button" class="add_to_cart btn btn-default" id="{{ product.product_id }}">Add to Cart</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
        <p>{{ product.description }}</p>
    </div>
</div>

<script type="text/javascript" src="/static/js/cart.js"></script>

{% endblock %}