{% extends 'base.html' %}

{% block body %}

<div class="row">

<div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1">
        <img src="/static/img/jamie-hamel-smith-1200-v2.jpg" class="register_img">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-5">
        <h1>Register</h1>
        
        <form action="/register" id="register_form" method="POST">
            <label for="first_name">First Name:</label>
            <input type="text" name="first_name" id="first_name" required><br>
            <label for="last_name">Last Name:</label>
            <input type="text" name="last_name" id="last_name" required><br>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required><br>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required><br>
            <label for="phone">Phone:</label>
            <input type="string" id="phone" name="phone" maxlength="30"><br>
            <label for="address">Address:</label>
            <input type="text" name="address" id="address" placeholder="1600 Pennsylvania Ave"><br>
            <input type="text" name="zipcode" id="zipcode" maxlength="15" placeholder="20500">
            <input type="text" name="state" id="state" maxlength="2" size="2" placeholder="DC"><br>
            <input type="submit" value="register">
        </form>
    </div>

</div>

{% endblock %}